ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

body {
  font-family: roboto, raleway, sans-serif;
  color: #434455;
  background-color: #fff;
}

.team-section h2,
.portfolio-section h2,
.features-section h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section h3,
.portfolio-section h3,
.features-section h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.site-nav ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #404bbf;
}

.address-class {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.address-class a {
  color: #434455;
}

.address-class a:hover,
.address-class a:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-class {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.button-class:hover,
.button-class:focus {
  background-color: #404bbf;
}
.team-section {
  background-color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section .team-item {
  background-color: #ffffff;
}

.team-section .team-member {
  text-align: center;
}

.team-section .member-position {
  text-align: center;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.logo-full {
  text-transform: uppercase;
}

.logo-web {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-studio-top {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-studio-bottom {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
