/* ЗАГАЛЬНЕ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

body {
  font-family: roboto, raleway, sans-serif;
  color: #434455;
  background-color: #fff;
}

.team-section h2,
.portfolio-section h2,
.features-section h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section h3,
.portfolio-section h3,
.features-section h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ХЕДЕР */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* ЛОГО */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* НАВІГАЦІЯ */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.header-nav a:hover,
.header-nav a:focus,
.address-class a:hover,
.address-class a:focus {
  color: #404bbf;
}

.address-class {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

/* ХЕРО СЕКЦІЯ */
.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-class {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.button-class:hover,
.button-class:focus {
  background-color: #404bbf;
}

/* ПЕРЕВАГИ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* КОМАНДА */
.team-section {
  background-color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section .team-item {
  background-color: #ffffff;
}

.team-section .team-member {
  text-align: center;
}

.team-section .member-position {
  text-align: center;
}

/* ПОРТФОЛІО */
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* ФУТЕР */
.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
}
